body {
    font-family: 'Playfair Display', serif;


}


h1 {
    font-family: 'Raleway', sans-serif;



}


h2 {



}


h3 {



}


h4 {



}


h5 {



}


h6 {



}


p {



}

.navbar-brand {
    color: #30638E !important;
}


.navbar, .container {
    display: grid; 
}

.navbar-nav, .navLink {
    color: #02075D !important;
}

.navSocial {
    justify-content: end; 
}

/* 
.navLink {
    width: 200px;
}
   */
  